{{> header}}
{{> loader}}
{{> floating-search}}

<section class="page-section about_page test">
  <div class="breadCrumbWrap">
    <ul>
      <li><a href="#">Home</a></li>
      <li class="current"><a href="#">About Council</a></li>
    </ul>
  </div>
  <div class="container">
    <div class="title_box">
      <div class="title_box text-center">
          <h2 class="section-title"><span>About Council</span></h2>
      </div>
    </div>
  </div>
</section>

<section class="page-section about_page_sec no_padd_top">
  <div class="container">
    <div class="inner_">
      <div class="lf_">
        <div class="img_wrap">
          <picture>
            <source srcset="{{assets}}/images/abt_nw.png" type="image/webp">
            <source srcset="{{assets}}/images/abt_nw.png" type="image/png">
            <img src="{{assets}}/images/abt_nw.png" loading="lazy" alt="">
            </picture>
        </div>  
      </div>
      <div class="rgt_">
        <div class="text_box">
          <p>The Emirates Scientists Council aims to create an environment conducive to innovation and scientific research in the country and raise the impact of scientific research by representing the scientific community nationally and internationally, attracting and building a generation of scientists in various scientific fields and stimulating cooperation between research institutions in all sectors (government, private and higher education).</p>
          <p>
            The Council was established in 2016 with an aim to transform the UAE form knowledge user to knowledge developer. It came at an important stage of the UAE's development process, coinciding with the focus on the development of knowledge-based economy and setting programs to enable post-oil economy, an initiative which reflects the future vision of the UAE's wise leadership in building a better tomorrow for the people of the UAE.
          </p>
          <p>
            The Council is an advisory body that works on proposing policies and strategies in
            various scientific fields. The Council meets at least four times annually, and the
            Department of Science and Technology Policies and Programs at the Ministry of
            Industry and Advanced Technology acts as its General Secretariat.
          </p>
          <p>The Emirates Scientists Council aims to create an environment conducive to innovation and scientific research in the country and raise the impact of scientific research by representing the scientific community nationally and internationally, attracting and building a generation of scientists in various scientific fields and stimulating cooperation between research institutions in all sectors (government, private and higher education).</p>
          <p>
            The Council was established in 2016 with an aim to transform the UAE form knowledge user to knowledge developer. It came at an important stage of the UAE's development process, coinciding with the focus on the development of knowledge-based economy and setting programs to enable post-oil economy, an initiative which reflects the future vision of the UAE's wise leadership in building a better tomorrow for the people of the UAE.
          </p>
          <p>
            The Council is an advisory body that works on proposing policies and strategies in
            various scientific fields. The Council meets at least four times annually, and the
            Department of Science and Technology Policies and Programs at the Ministry of
            Industry and Advanced Technology acts as its General Secretariat.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>




{{> footer}} {{> script-page}}

