{{> header}}
{{> loader}}
{{> floating-search}}

<section class="page-section advcry_brd_page">
  <div class="breadCrumbWrap">
    <ul>
      <li><a href="#">Home</a></li>
      <li class="current"><a href="#">Advisory Boards</a></li>
    </ul>
  </div>
  <div class="container">
    <div class="title_box">
      <div class="title_box text-center">
          <h2 class="section-title"><span>Advisory Boards</span></h2>
      </div>
    </div>
    <div class="new_disc_sec">
        <div class="header-desc">
            <div class="text_box text-center">
                <p>Scientists and experts in their specific fields of science supporting/advising the
                federal government in matters related to science & technology research and policy.</p>    
            </div>
        </div>
        <div class="list_box">
            <p><strong>Examples of the proposed reports:</strong></p>
            <ul>
                <li><p>Research priorities from science community perspective in each sector
                (Starting 50-year plan white papers)</p></li>
                <li><p>Current status of the R&D eco-system (combined with Elsevier report)</p></li>
                <li><p>Status of Advance Technology /part of AT Agenda</p></li>
                <li><p>Recommendations on our policies: (Funding model, Performance)</p></li>
                <li><p>R&D Fee Exemption</p></li>
                <li><p>Mapping of R&D capabilities and interest</p></li>
                <li><p>Mapping international collaboration map & countries to target.</p></li>
            </ul>
        </div>
    </div>
  </div>
</section>

<section class="page-section no_padd_top advcry_brd_page_sec">
    <div class="container">
        <div class="inner_">
            <div class="adv_box_">
                <div class="sub_hd text-center">
                    <h4>Natural Sciences</h4>
                </div>
                
            </div>
        </div>
    </div>
</section>




														
														
						


{{> footer}} {{> script-page}}

<script>

    
    $(function() {
        if($('[data-tree]').length ) {

            var target_ = $('[data-tree]'),
                list_ = target_.find('li'),
                count_ = list_.length;

                target_.find('ul').hide();
              
                var themp1 = document.createElement("ul");
                var themp2 = document.createElement("ul");
                list_.each(function(index) {
                    

                    if(index < (count_/2)) {
                        themp1.append(this) ;
                    }else{
                        
                        themp2.append(this);
                    }

                  //  console.log(this_, index,(count_/2));
                })
                /*themp1.style.setProperty("--count", (count_/2));
                themp2.style.setProperty("--count", (count_/2));*/
               target_.append(themp1);
               target_.append(themp2);




        }
    })
    
</script>
