{{> header}}
{{> loader}}
{{> floating-social-media}}
{{> floating-search}}

<main class="page">
  

  <section class="page-section search-section">
    <div class="search_wrapper">
      <div class="search_">
        <input type="text" class="search_input" placeholder="Search">
        <button class="search_btn" type="submit"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 59" style="enable-background:new 0 0 64 59;" xml:space="preserve">
<style type="text/css">
	.st_n1{fill:none;stroke:#000;stroke-width:9;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
</style>
<circle class="st_n1" cx="27.1" cy="26.1" r="19.2"></circle>
<line class="st_n1" x1="49.7" y1="48.7" x2="54.3" y2="53.3"></line>
</svg></button>
      </div>

    </div>

    <div class="container">
        <div class="title_box text-center" >
          <h2 class="section-title "><span>Search Results</span></h2>
        </div>

        <div class="search_result">
          <ul>
            <li>
              <div class="name_"><span>News</span></div>
              <div class="para_">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
              </div>
            </li>

             <li>
              <div class="name_"><span>News</span></div>
              <div class="para_">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
              </div>
            </li>

             <li>
              <div class="name_"><span>News</span></div>
              <div class="para_">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
              </div>
            </li>

             <li>
              <div class="name_"><span>News</span></div>
              <div class="para_">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
              </div>
            </li>
          </ul>
        </div>

    </div>
  </section>

</main>

{{> footer}} {{> script-page}}
