<section class="home-banner" id="home">
    <div class="banner_wrapper">

        {{!-- <div class="banner_lng_box">
            <a href="{{page_ar}}" class="link_">عربى</a>
            <span class="line_"></span>
        </div> --}}
      <!--  <div class="banner_img_wrap">

            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide b_slide">
                        <div class="img_box">
                            <div class="img_ b-lazy" data-src="{{assets}}/images/banner_img.webp" data-extension="png" ></div>
                        </div>
                    </div>
                </div>
            </div>

        </div> -->

        <div class="banner_text_wrap">
            <div class="box_">
                <div class="title_"><span>الإمارات</span>  <span>العلماء <b>مجلس</b></span></div>
            </div>
            <div class="box_ grid_">
                <div class="btn_group start_">
                    <a href="#" class="btn_new"><span>اقرأ أكثر</span></a>
                </div>
                <div class="title_">يهدف إلى خلق بيئة مواتية <strong>للابتكار والعلمية</strong> البحث في البلاد</div>
            </div>
        </div>
    </div>

</section>
