 <div class="floating-search">
   <ul class="f_nav">
     <li>
        <button class="menu_trigger" data-traget="master_menu">
            <div class="dot"></div>
            <div class="dot dot-2"></div>
          </button>
     </li>

     <li>
       <a href="{{page_ar}}" class="lang_btn">
         <span>ع</span>
       </a>
     </li>
    <li>
      <button type="submit" class="btn btn-search">


    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 64 59" style="enable-background:new 0 0 64 59;" xml:space="preserve">
<style type="text/css">
	.st0{fill:none;stroke:#fff;stroke-width:9;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
</style>
<circle class="st0" cx="27.1" cy="26.1" r="19.2"/>
<line class="st0" x1="49.7" y1="48.7" x2="54.3" y2="53.3"/>
</svg>

  </button>
    </li>

    <li>
       <div class="progress-wrap"><svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102"><path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" ></path></svg></div>
    </li>
  </ul>
</div>


